{% extends 'base.html.twig' %}

{% block title %}{{ title }} in Phone book{% endblock %}

{% block navbar %}
    {{ include('_partials/_navbar.html.twig') }}
{% endblock %}

{% block body %}

<div class="container">

    <hr>

    <p class="text-center font-weight-bold">{{ title }}</p>

    {{ form_start(add_form) }}
    {{ form_widget(add_form) }}
    {{ form_end(add_form) }}

</div>
{% endblock %}
