{% extends 'base.html.twig' %}

{% block title %}Phone book{% endblock %}

{% block navbar %}
    {{ include('_partials/_navbar.html.twig') }}
{% endblock %}

{% block body %}

<div class="container">

    <hr>

    {{ form_start(search_form) }}
    {{ form_widget(search_form) }}
    {{ form_end(search_form) }}

    <hr>

    <table class="table table-striped table-bordered text-center">
    	<tr class="">
    		<th>ID</th> <th>NAME</th> <th>PHONE</th> <th colspan="2">OPERATION</th>
    	</tr>
        {% for user in users %}
        	<tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phone }}</td> 
                <td>
                    <a href="{{ path('web_update', {'id': user.id}) }}">update</a>
                </td>
                <td>
                    <a href="{{ path('web_delete', {'id': user.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="alert-warning">No contacts</td>
            </tr>
    	{% endfor %}
    </table>

    <hr>

    <p class="text-center font-weight-bold"><a href="{{ path('web_add') }}">Add new contact</a></p>

</div>
{% endblock %}
